.content {
	min-height: 400px;
}

.page-header h1 {
	margin: 0;
}

.container > footer p {
    text-align: center; /* centrer le footer */
}
   
.clearfix textarea {
	width: 400px;
	height: 300px;
}

.cacher_notif{float:right;display:block;}

body{
/* Anciens navigateurs */
	background: dodgerblue url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Navigateurs récents */
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(dimgray),
		to(dodgerblue)
	);
	background: -webkit-linear-gradient(
		top,
		dimgray,
		dodgerblue
	);
	background: -moz-linear-gradient(
		top,
		dimgray,
		dodgerblue
	);
	background: -o-linear-gradient(
		top,
		dimgray,
		dodgerblue
	);
	background: linear-gradient(
		top,
		dimgray,
		dodgerblue
	);
	
	min-height:605px;
	}
	
