</div>
<nav class="span4">
	<h2>Menu</h2>

	<label for="rech">Recherche : </label>
	<form action="index.php" method="get">
		<input type="text" name="r" id="rech"
			placeholder="Cosplay, J-doll, Mangas..." class="span3">&nbsp; <br />
		<input type="submit" value="Rechercher" class="btn">
	</form>

	<ul>

		{if $userCo==true}
			<li>Bienvenu : {$cook}</li>
		{else}
			<li>Bienvenu invité</li>
		{/if}

		
		<li><a href="index.php">Accueil</a></li>
		<!-- Affichage ou non de la possibilité d'ajout article si l'utilisateur est connecté -->
		{if $userCo==true}
			<li><a href="article.php">Rédiger un article</a>
			<li><a href="deco.php">Se déconnecter</a>
		{/if}
		
		
		{if $userCo==false} 
			<li><a href="loginConnexion.php">Se connecter</a></li>
		
		{/if}
	</ul>



</nav>
</div>

</div>

<footer>
	<p class='bas'>&copy; Tim Chevalier & ULCO 2012</p>

</footer>

</div>
<script type="text/javascript">


</script>
</body>
</html>